*{
box-sizing:border-box;
}

body{
margin:0;
font-family:Segoe UI, Arial;
background:linear-gradient(135deg,#eef2ff,#f8fafc);
}

/* NAVBAR */

.navbar{
background:linear-gradient(90deg,#2563eb,#3b82f6);
color:white;
padding:18px 40px;
display:flex;
justify-content:space-between;
align-items:center;
font-size:20px;
box-shadow:0 4px 20px rgba(0,0,0,.25);
}

/* MAIN */

.dashboard{
width:900px;
margin:50px auto;
}

/* CARDS */

.upload-box,
.search-box,
.file-card{
background:rgba(255,255,255,.9);
backdrop-filter:blur(10px);
border-radius:18px;
padding:22px;
box-shadow:0 15px 40px rgba(0,0,0,.12);
transition:.3s ease;
}

/* FLOAT EFFECT */

.upload-box:hover,
.search-box:hover,
.file-card:hover{
transform:translateY(-8px) scale(1.02);
}

/* SEARCH + UPLOAD */

.upload-box,
.search-box{
display:flex;
gap:15px;
align-items:center;
margin-bottom:25px;
}

.upload-box input,
.search-box input{
flex:1;
padding:14px;
border-radius:12px;
border:none;
outline:none;
background:#f1f5f9;
}

/* BUTTONS */

.upload-btn,
.search-box button,
.btn{
border-radius:12px;
padding:12px;
font-size:15px;
cursor:pointer;
transition:.3s;
}

/* PRIMARY */

.upload-btn,
.search-box button{
background:#2563eb;
color:white;
border:none;
padding:12px 30px;
}

.upload-btn:hover,
.search-box button:hover{
box-shadow:0 0 15px #2563eb;
transform:scale(1.05);
}

/* FILE GRID */

.files{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
gap:30px;
margin-top:40px;
}

/* FILE NAME */

.filename{
font-weight:600;
margin-bottom:15px;
font-size:14px;
word-break:break-all;
}

/* ACTIONS */

.actions{
display:flex;
flex-direction:column;
gap:12px;
}

.btn{
background:#f8fafc;
border:none;
color:#334155;
}

.btn:hover{
background:#2563eb;
color:white;
box-shadow:0 0 12px #2563eb;
}

/* PROGRESS */

#progress{
width:100%;
background:#c7d2fe;
margin-top:12px;
border-radius:20px;
overflow:hidden;
}

#bar{
height:7px;
width:0%;
background:#2563eb;
}

/* SMOOTH */

input,a,button{
transition:.3s;
}
