<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="navbar">
<h3>☁ Cloud Storage</h3>
<span>{{username}}</span>
</div>

<div class="dashboard">

<form class="search-box" action="/search/{{username}}" method="get">
<input type="text" name="q" placeholder="Search files..." required>
<button>Search</button>
</form>



<form class="upload-box" action="/upload/{{username}}" method="post" enctype="multipart/form-data">
<input type="file" name="file" required>
<button class="upload-btn">Upload</button>
</form>

<div id="progress">
<div id="bar"></div>
</div>

<div class="files">

{% for f in files %}
<div class="file-card">

<p class="filename">{{f}}</p>

<div class="actions">
<a class="btn download" href="/download/{{username}}/{{f}}">Download</a>
<a class="btn preview" href="/preview/{{username}}/{{f}}">Preview</a>
<a class="btn delete" href="/delete/{{username}}/{{f}}">Delete</a>
<a class="btn share" href="/share/{{username}}/{{f}}">Share</a>
</div>

</div>
{% endfor %}

</div>

</div>

<script>
document.querySelector("form").onsubmit=function(){
let bar=document.getElementById("bar");
let w=0;
let i=setInterval(()=>{
if(w>=100) clearInterval(i);
w+=10;
bar.style.width=w+"%";
},150);
}
</script>
